<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Post missing page</title>
</head>
<body>
	<center><h1>404</h1></center>
	<h3>The post with id='<%= id %>' is not in our database.</h3>
</body>
</html>